<section id="employeeAdd">
  <div class="container p-2">
    <div class="row mt-2">
      <div class="col-8 offset-2">
        <app-message></app-message>
        <hr />
        <div *ngIf="!employees" class="m-auto">
          <h1 class="text-center display-3 mt-5">
            <i class="fas fa-spinner fa-5x"></i>
          </h1>
        </div>
        <div class="card bg-light" *ngIf="employees">
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of employees; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.role }}</td>
                <td class="float-left">
                  View
                  <a
                    [routerLink]="['/employee-edit/' + item._id]"
                    class="btn btn-outline-warning ml-2"
                    ><i class="fas fa-edit"></i
                  ></a>
                  <a
                    (click)="delete(item._id)"
                    [routerLink]="['/employee-list']"
                    class="btn btn-outline-danger ml-2"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
